@{
    ViewData["Title"] = "User Login";
}

<div class="text-center">
    <div class="panel panel-default">
        <div class="panel-heading">  
            <h3 class="panel-title display-5">User Login</h3>
        </div>
        <div class="panel-body">  
            <div class="example">
                <div class="col-sm-12" style="padding-top: 15px;">
                    <input type="text" id="txtUser" placeholder="User ID" style="width: 25%; padding-top: 7px; padding-bottom: 7px;"/>
                </div>
                <div class="col-sm-12"  style="padding-top: 12px;">
                    <input type="text" id="txtPass" placeholder="Password" style="width: 25%; padding-top: 7px; padding-bottom: 7px;"/>
                </div>
                <div class="col-sm-12" style="padding-top: 1%;" pl>
                    <input type="button" id="btnSubmit" value="Submit" style="width: 25%; padding-top: 10px; padding-bottom: 10px;"/>
                </div>
            </div>
        </div>
        <div class="panel-footer">  
            <strong>Panel footer</strong>  
        </div> 
    </div>    
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/Login.js" asp-append-version="true"></script>
}
